<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TDS custom template fragments</title>
</head>


<body>

    <div th:fragment="footer">
      <div class="footer-buffer"></div>
      <div class="footer">
        <h4>
<a class="static" th:href="${installUrl}" th:text="${installName}"></a> at <a class="static" th:href="${hostInstUrl}" th:text="${hostInst}"></a> see <a class="static" th:href="${contextPath} + '/info/serverInfo.html'"> Info </a></h4>


<h4><th:block th:text="${webappName} + ' [Version ' + ${webappVersion} + ' - ' + ${webappBuildTimestamp} + ']'"/><a class="static" href="https://docs.unidata.ucar.edu/thredds/5.0.0-SNAPSHOT/userguide/index.html"> Documentation</a></h4>


<h4><a class="static" href="https://www2.ucar.edu/privacy-policy">privacy policy</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="static" href="https://www2.ucar.edu/terms-of-use">terms of use</a></h4>
      </div>
    </div>

</body>

</html>
