name: Build
on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow}}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  # Build configs after running some simple checks
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
          cache: 'pip'

      - run: python -m pip install -r ci/requirements.txt

      - name: Run basic checks
        run: python -m pytest basic_checks.py

      - name: Build config packages
        run: python build.py

      - name: Upload configs as artifact
        uses: actions/upload-artifact@v4
        with:
          name: configs
          path: '*/config.zip'
          retention-days: 5
